@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
    --color-bg: #efefef;
    --color-bg-darker: #dfdfdf;
    --color-bg-darker-hover: #d1d1d1;
    --color-outline: #cfcfcf;
    --text-color-main: #121212;

    --profile-pic-size: 150px;
    --aside-width: 23vw;

    font-family: "IBM Plex Sans", sans-serif;
}

h1{
    font-size: 1.9rem;
    font-weight:900;
    padding:0;
    margin:0;
}

h2{
    font-size: 1.5rem;
    font-weight:900;

    padding:0;
    margin:0;
}

h3{
    font-size: 0.9rem;
    font-weight:bolder;
}

a{
    font-size: 1rem;
    font-weight:bolder;
    text-decoration: none;
    color:var(--text-color-main);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-darker);
}

p{
    margin: 0;
    padding: 0;
    height:fit-content;
    font-size:1rem;
    font-weight:normal;
    text-decoration: none;
    color:var(--text-color-main);
}

.text-color-faded{
    opacity:50%;
}

#main-cont{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex: row;
}

aside{
    outline: 2px solid var(--color-outline);
    padding:20px;
    margin: 20px;
    
    min-width: var(--aside-width);
    width: var(--aside-width);
    flex-grow: 0;
    
    border-radius:15px;

    background-color: var(--color-bg);
    flex-shrink: 0;

    display:flex;
    gap:20px;

    flex-direction:column;
    justify-content:space-between;
    align-items:center;

    overflow: hidden;
    resize:horizontal;
}

#profile-images{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

#profile-pic{
    background-image: url("https://cdn.bsky.app/img/avatar/plain/did:plc:mh6pl3je7z3vknqx5vz4bwh3/bafkreieji7mqgn4ey2i3arvdhvz3iq7x45y7zgbkju73aqdqmaabtctj7a@jpeg");
    
    position:absolute;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size:cover;

    height: var(--profile-pic-size);
    border-radius:15px;
    z-index:3;
}

#banner{
    margin: -20px;
    width: fill;
    height: 100px;
    background-image: url(https://pbs.twimg.com/profile_banners/1499082535539671041/1727272244/1500x500);
    background-position: center;
    background-size:100%;
    
    overflow: hidden;
    transition: all 300ms 0ms ease-out;
}

#banner:hover{
    background-size:110%;
    rotate: 10%;
    filter: blur(2px);
}

#profile-name-cont{
    margin-top: 20px;
    padding-top:10px;
    display:flex;
    flex-direction: row;

    width:100%;
    flex-wrap:wrap;
    column-gap:20px;
    row-gap:10px;
}

#profile-name-empty{
    width: var(--profile-pic-size);
    height: calc(var(--profile-pic-size) / 2 - 15px);
}

#profile-name{
    position:relative;
    width:fit-content;

    min-width:9rem;

    display:flex;
    flex-direction: column;

    z-index: 4;
    color: var(--text-color-main);
    
}

#profile-name h1, h3{
    margin: 0;
    padding: 0;
}

#profile-name h3{
    opacity:50%;
}





#side-panel-content{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    
    justify-content: left;
    align-items:flex-start;

    z-index: 20;
}

#socials{
    display:flex;
    flex-direction: row;
    
    gap:10px;
    margin-top:20px;

    max-width: 23vw;

    width:max-content;
    flex-wrap:wrap;
}

.button-light{
    display:flex;
    flex-direction: row;
    padding:10px 15px 10px 15px;

    align-items: center;
    gap: 8px;

    background-color: var(--color-bg-darker);
    border-radius: 10px;

    transition: all 200ms linear;
}

.button-light:hover{
    background-color: var(--color-bg-darker-hover);
}

.socials-item .fa-brands{
    height:fit-content;
    width:1rem;
    height:1rem;

}

.button-light p{
    height:fit-content;
    margin: 0;
    padding: 0;
    font-size:1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:normal;
    text-decoration: none;
    color:var(--text-color-main);
}






#body-cont{
    display:flex;
    flex-direction:column;
    row-gap:20px;

    margin:20px 20px 20px 0px;

    overflow:scroll;
    max-height:100%;
    max-width:100%;
}

.body-section-row{
    display:flex;
    flex-direction:row;

    max-width: 100%;
    column-gap:20px;
}

.body-section{
    background-color: var(--color-bg);
    padding:20px 20px 20px 20px;

    border-radius:15px;
    /* flex-grow:1; */

    display:flex;
    flex-direction: column;
    gap:10px;
}

.body-section-2-col{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.music-widget{
    /*
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e3/Itzy_-_Gold.jpg");
    background-size:cover;
    background-position: center;
    */
}

.photo-widget{
    background-image: url("https://unsplash.com/photos/rFCE3SFmem0/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8Mnx8MTcyOTU4MDc0MXw&force=true&w=640");
    background-size: cover;
    min-width:20vw;
    max-width:500vw;
    flex-grow: 6;
}

.album-cover{
    aspect-ratio: 1/1;
    height:120px;
    border-radius:100%;

    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e3/Itzy_-_Gold.jpg");
    background-size: cover;
}

.music-actions{
    margin-top:10px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#intro-image{
    width:70vw;
    height:30vh;
    
    background-image:url("https://pbs.twimg.com/media/FpVs9b4aUAAcu5o?format=jpg&name=medium");
    background-size:cover;
    background-position:center;
    background-size: 170%;
    
    border-radius:10px;
}