<div id="profile-images">
    <img id="profile-pic" />
    <img id="banner" />

    <div id="profile-name-cont">
        <span id="profile-name-empty"></span>
        <div id="profile-name">
            <h1>Jan 🌺</h1>
            <h3>@janthetrashcan ● he/they</h3>
        </div>
    </div>
</div>


<div id="side-panel-content">
    <p>Hi! I'm Jan, a BSCS undergraduate and an aspiring full-stack developer in the 🇵🇭 Philippines.</p>

    <div id="sidepanel-navigation">
        <a href="/" onclick="route()" class="nav-link active" id="sidebar-navigation-li-1">Home</a>
        <a href="/about" onclick="route()" class="nav-link inactive" id="sidebar-navigation-li-2">About Me</a>
        <a href="/projects" onclick="route()" class="nav-link inactive" id="sidebar-navigation-li-3">Projects</a>
    </div>

    
</div>

<footer id="side-panel-footer">
    <div id="socials">
        <a class="button-light socials-item" href="https://x.com/devonicious" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
            <p class="social-title">Twitter</p>
        </a>
        <a class="button-light socials-item" href="https://bsky.app/profile/janthetrashcan.bsky.social" target="_blank">
            <i class="fa-brands fa-bluesky"></i>
            <p class="social-title">Bluesky</p>
        </a>
        <a class="button-light socials-item" href="https://facebook.com/janthetrashcan" target="_blank">
            <i class="fa-brands fa-facebook"></i>
            <p class="social-title">Facebook</p>
        </a>
        <a class="button-light socials-item" href="https://instagram.com/devonicious" target="_blank">
            <i class="fa-brands fa-instagram"></i>
            <p class="social-title">Instagram</p>
        </a>
        <a class="button-light socials-item" href="https://github.com/janthetrashcan" target="_blank">
            <i class="fa-brands fa-github"></i>
            <p class="social-title">GitHub</p>
        </a>
    </div>
    
    <p style="color:red;text-align:center;">This page is a work-in-progress</p>
</footer>