<section class="body-section-row">
    <section class="body-section music-widget" style="flex-direction: row;">
        <section class="album-cover">
        </section>

        <div style="display:flex;flex-direction:column;justify-content:space-between;margin-left:15px;">
            <p style="margin-bottom:5px;">Now playing:</p>
            <span>
                <h1 id="current-song-title">FIVE</h1>
                <p id="current-song-artist">ITZY</p>
            </span>
            <div class="music-actions">
                <i class="fa-solid fa-backward"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-forward"></i>
            </div>
        </div>
    </section>   
    
    <section class="body-section photo-widget"></section>   
</section>




<section class="body-section body-section-2-col">
    <div class="body-section" style="padding:0;">
        <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
            <h1>Welcome! ✨</h1>
            <span style="background-color:var(--color-outline);height:2px;border-radius:50px;flex-grow:1;"></span>
        </div>
        <p>
            Segmentation fault


            === Code Exited With Errors ===
        </p>
        <p>
            I am Jan, a 20-year-old Computer Science student in the Philippines. I enjoy spending time with my boyfriend, hanging out with friends, playing casual video games, and watching 4-hour-long video essays on said video games. I also like to draw digitally and design layouts and publication materials.
        </p>
    </div>
    <div id="intro-image">

    </div>
</section> 

<section class="body-section-row">
    <section class="body-section" style="flex-grow:1;">
        <h1>Languages</h1>
        <ul>
            <li>C/C++</li>
            <li>Java</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>MySQL</li>
        </ul>
    </section> 

    <section class="body-section" style="flex-grow:1;">
        <h1>Interests</h1>
        <ul>
            <li>Honkai: Star Rail</li>
            <li>Minecraft</li>
            <li>Stardew Valley</li>
            <li>Minecraft</li>
            <li>Geometry Dash</li>
        </ul>
    </section> 
</section>